.wrapper{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    padding: 15%;
    text-align: center;
}

.wrapper > input{
    width: 50%;
    margin: auto;
    height: 50%;
    font-size: 100%;
    border: none;
    background-color: none;
    background: none;
    border-bottom: 2px solid ;
    color: black;
    text-align: center;
    outline: none;
}

::placeholder{
    color: rgb(186, 186, 186);
}

.text{
    font-size: 20px;
}

.main-div{
    /* background-color: purple; */
    /* background-image: linear-gradient(#CA29FA, #4B5DFA); */
    width: 25%;
    height: 20%;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
    background-image: url(image.jpg);
    background-size: 100%;
}

.location{
    padding: 1.5%;
    font-weight: bold;
    font-size: 25px;
    color: black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.temp{
    padding: 1.5%;
    padding-bottom: 0px;
    font-weight: bold;
    color: black;
    font-size: 25px;
    margin-bottom: 0px;
}
.wind-img{
    width: 8%;
    padding: 0px;
    margin-bottom: 10px;
}
.wind{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
}

.more{
    display: flex;
    flex-direction: row;
}

.low{
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .wrapper{
        /* width: 80%; */
        text-align: center;
        margin: auto;
    }
    .main-div{
        margin-top: 50%;
        width: 80%;
    }
  }
