@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.main-div{
    display: flex;
    flex-direction: row;
    /* background-image: url(hazy.jpg); */
    /* height: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-div{
    width: 20%;
}
.right-div{
    width: 80%;
    text-align: left;
}

.input1{
    border: none;
    border-bottom: 2px solid rgb(49, 48, 48);
    padding: 5%;
    font-family: 'Manrope', sans-serif;
    background: transparent;
}

.input2{
    border: none;
    padding: 5%;
    border-bottom: 2px solid rgb(49, 48, 48);
    font-family: 'Manrope', sans-serif;
    background: transparent;
}
.temp{
    font-size: 40px;
}

.name{
    font-size: 45px;
    margin-top: 0px;
    margin-left: 10px;
}

.name-div{
    text-align: left;
    padding: 2%;
    margin-top: 0px;
}

.middle-div{
    height: 750px;
    border: 0.5px solid rgb(92, 92, 92);
}
.temp-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.temp{
    margin-left: 35px;
}
.t1{

    width: 50%;
    margin: auto;
    margin-left: 20px;
    font-size: 30px;
}
.humid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.humidity{
    font-size: 18px;
}

.right-inner-div{
    padding: 3%;
    margin-top: 2%;
}

